<!DOCTYPE html>
<html>
<head>
    <meta charset = "UTF-8">
    <title> Pixiv Images </title>
</head>
<body>
    <h1> Pixiv Images for {{Title}} </h1>
    <table>
        <tr>
            <th> Id </th>
            <th> Title </th>
            <th> View </th>
            <th> Favorite </th>
            <th> Author </th>
            <th> Author Id </th>
            <th> Caption </th>
            <th> Url </th>
        </tr>
        {% for row in results %}
        <tr>
            <td> {{row[0]}} </td>
            <td> {{row[1]}} </td>
            <td> {{row[2]}} </td>
            <td> {{row[3]}} </td>
            <td> {{row[4]}} </td>
            <td> {{row[5]}} </td>
            <td> {{row[6]}} </td>
            <td> <a href='https://www.pixiv.net/artworks/{{row[7]}}'>https://www.pixiv.net/artworks/{{row[7]}} </a> </td>
        </tr>
        {% endfor %}
    </table>
    <p>
        Return <a href = '/'> home </a>
    </p>
</body>
</html>